
.pimg{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.profile{
    margin: 0px;
}


.main{
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5%;
}

.content{
    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
}
.text_bold{
    font-weight: bold;
}

.details{
    text-align: center;
}

.details > *{
    margin: 10px 0px;
} 